*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Caprasimo', cursive;
 }



:root {
    --mainColor: rgb(235, 201, 177);
    --darkerMainColor: rgb(118, 19, 19);
    --secondColor: rgb(58, 133, 204);
    --textColor: white;
    --thirdColor: rgb(204, 133, 58);
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden;
    margin-top: 10vh;
}

 body {
    color: var(--textColor);
    margin: 0;
    height: 100vh;
    background-color: var(--mainColor);
    /* background-image: url('https://img.freepik.com/premium-vector/casino-red-background-fly-oins-chips-vector-illustration_3482-3010.jpg?w=2000'); */
    background-size: cover;
    background-position: center;
    /* filter: blur(5px); */
} 

.clickable-text {
    cursor: pointer;
}

.slide-bar {
    width: 0;
    height: 100%;
    background-color: rgb(144, 43, 43);
    position: fixed;
    top: 80px;
    right: 0px;
    transition: width 0.3s ease-in-out;
}

.game {
    /* border: solid rgb(255, 255, 255) 1px; */
    position: relative;
    z-index: 1; 
    display: flex;
    gap: 7px 7px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 650px;
    left: 10px
}

.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('https://cdn.discordapp.com/attachments/902276985777176617/1154438916817031289/tile_frame_beta.png'); */
    background-attachment: fixed; /* Keep the background image fixed within the frame */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

.divider, .vertical {
    border-right: 10px solid #888989;
    margin: 20px 20px;
}

input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.leftpanel {
    /* position: absolute; */
    display: flex;
    padding: 10px 10px 0px 10px;
    left: 0vh;
    font-size: 30px;
    flex-direction: column;
    /* background-color: rgb(47, 26, 75); */
    margin: 0px 100px 0px 0px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-image: url('https://media.istockphoto.com/id/157325009/photo/gold-bar.jpg?s=170667a&w=0&k=20&c=PbLWf_T3O0ECsuJC_KllRRhHHKzy9n71BN0JSovBs_A=');
    background-size: 230%;
    background-position: center;
}


header {
    background-color: var(--darkerMainColor);
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    overflow: hidden;
}

footer {
    position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkerMainColor);
    color: var(--textColor);
    text-align: center;
    overflow: hidden;
}

.betamount {
    position: relative;
    top: -35px;
    left: 117px;
}

.totalamount {
    position: absolute;
    left: 160px;
}

#betamount, #mines {
    background-color: #ffeddf;
    color: var(--textColor);
    border: 0px;
    border-radius: 10px;
    height: 50px;
    width: 230px;
    padding: 10px 20px;
    outline: none;
    color: var(--darkerMainColor);
    margin: 5px;
}

#betamount:disabled {
    opacity: 0.7;
}

#betamount:hover,  #mines:hover {
    border: 3px solid var(--thirdColor);
}

.multiplier {
    font-size: 25px;
    display: flex;
    gap: 5px 44px;
    flex-wrap: wrap;
    width: 260px;
    padding: 20px 0px 10px 5px;
}

.multcurrent {
    position: relative;
    left: -15px;
}

.multnext {
    position: relative;
    left: 28px;
}

/* button styling */
#startgame, #cashout, #resetbalance {
    font-size: 30px;
    height: 50px; 
    margin: 20px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

/* buttons */
#resetbalance {
    font-size: 25px;
    margin: 30px 20px 20px 50px;
    width: 250px;
    background-color: rgb(45, 53, 139);
    border-bottom: 5px solid rgb(36, 41, 99);
    border-top: 3px solid rgb(75, 59, 174);
    height: 60px;
}

#startgame {
    background-color: rgba(227,34,35,255);
    border-bottom: 5px solid rgb(149, 48, 48);
    border-top: 3px solid rgb(212, 81, 81);
    width: 220px;
}

#cashout {
    background-color: rgba(160,0,0,255);
    border-bottom: 5px solid rgb(141, 37, 37);
    border-top: 3px solid rgb(207, 45, 45);
    width: 220px;
}

#startgame:hover, #cashout:hover, #resetbalance:hover {
    transform: translateY(-2px);
    transition: 0.2s;
}

#startgame:active, #cashout:active, #resetbalance:active {
    transform: translateY(4px);
    transition: 0.05s;
}

/* board */
.tile-container {
    perspective: 1000px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

.tile {
    background-color: transparent !important;
    height: 122px;
    width: 122px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10%;
    object-fit: cover;
    top: 0;
    position: relative;
    text-align: center;
    line-height: 40px;
    background-image: url('https://cdn.discordapp.com/attachments/902276985777176617/1154128910112526427/tile_1.png');
    background-size: 100%;
    background-position: center;
    /* margin: 0px 10px 0px 0px; */
    /* transition: opacity 2s ease-in-out; */
    z-index: 1;
    cursor: grab;
}

.tile.flipped {
    transform: rotateY(180deg); /* Rotate the tile on the Y-axis to flip it */
  }

.gold {
    background-color: var(--secondColor);
    height: 122px;
    width: 122px;
    /* line-height: 40px; */
    background-image: url('https://t3.ftcdn.net/jpg/02/72/67/96/360_F_272679601_ReiKAFUY1xf9XituWgjkkrpTnxqrPlMh.jpg');
    background-size: 100%;
    background-position: center;
    transform: rotateY(180deg);
}

.bomb {
    background-color: var(--secondColor);
    height: 122px;
    width: 122px;
    background-image: url('https://media.istockphoto.com/id/842671590/vector/cartoon-bomb-illustration.jpg?s=612x612&w=0&k=20&c=jTzH12dWeRFqJwFzdgfuppVKSXxRN4bqP8ggewbjdxc=');
    background-size: 110%;
    background-position: center;
    transform: rotateY(180deg);
}

.cashoutpopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 20px;
    background-color: #149400;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    color: #ffffff; /* Set the text color to black */
    animation: explodeAndHide 2.5s forwards;
    border-bottom: 5px solid #29761d;
    border-top: 5px solid #45a336;
}

@keyframes explodeAndHide {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
        display: none;
    }
}
